<div class="container">
 <button icon="pi pi-angle-double-left" pButton type="button" class="p-button-raised p-button-rounded back" routerLink="/" 
 routerLinkActive="active" (click)="clearCategory()"></button>
    <p-card header="{{category}}">
        <ng-template pTemplate="header">
        <img src={{joke.imageUrl}}>
        </ng-template>
        <p>{{joke.content}}</p>
        <ng-template pTemplate="footer">
        </ng-template>
    </p-card>
 <button pButton type="button" class="p-button-raised another" label="Another one"
 routerLinkActive="active" (click)="clearCategory()" (click)="getCategoryJoke(category)"></button>
</div>
