
.container{
  margin:auto;
  overflow-y:auto;
  top:0px;

  p-card{
    text-align: center;
  }
 
  button{
    margin:10px;
    .another{
      width:200px;
      margin-left:30px;
    }
  }
}

//mobile
@media (min-width: 320px) and (max-width: 480px){
  .container{
  p-card{
   min-width:80%;
   max-height:60%;
  }
}
}

//tablet
@media (min-width: 481px) and (max-width: 800px) {
  .container{
    p-card{
     min-width:80%;
     max-height:60%;
    }
  }
}

//screen
@media all and (min-width:801px){
  .container{
    margin-left:10%;
    max-width:30%;
    height:60%;
  }
}

