
<div class="container">
 <div class="row ">
    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-6">
        <div class="buttons" *ngIf="router.url != '/joke'">
            <button *ngFor="let category of categories$ | async" pButton type="button" label={{category}} 
            class="p-button-info" routerLink="/joke" routerLinkActive="active" (click)="updateCategory(category)">
            </button>
        </div> 
    </div>
 </div>
</div>