
button{
    width:200px;
    margin:10px;
    &:hover{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
 }
 
 @media all and (min-width: 900px) {
    .container{
     margin-top:20px;
    }
  }